.mobile-clients-view {

  .mobile-integrations {
    .component-label.section-label {
      display: none;
    }
  }

  .copy-to-clipboard {
    margin-bottom: 25px;
    pre {
      max-height: 350px;
    }
  }
}